# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Magnus McCune
	email = magnus.mccune@hivemq.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIHYKmC8NPrg+NVHq7e0pjasfV2jfFG7zZLY6+67qQd3
[core]
	editor = code --wait

[includeIf "gitdir:~/Projects/personal/"]
	path = .gitconfig-personal
[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
